#cart {
    min-height: 85vh;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        height: -moz-fit-content;
        height: fit-content;
    }
}

.cart-empty {
    width: 100%;
    display: flex;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
}

.cart-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    .products-in-cart {
        width: 69%;
        border: 1px solid orange;
        overflow: hidden;
        border-radius: 0.5rem;
        background-color: rgba(30, 27, 27, 0.6);
        height: -moz-fit-content;
        height: fit-content;
        .title-and-page-control {
            display: flex;
            background-color: #181a1c;
            padding: 0.3rem;
            border-bottom: 1px solid orange;
            align-items: center;
            justify-content: space-between;
            h2 {
                font-size: 130%;
            }
            .page-control {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .limit {
                    color: wheat;
                    input {
                        width: 2rem;
                        text-align: center;
                        outline: none;
                        border: 1px solid orange;
                        border-radius: 0.2rem;
                        background-color: #373636;
                        font-size: 140%;
                        color: orange;
                    }
                }
                .page-numbers {
                    margin-left: 2rem;
                    color: wheat;
                    button {
                        background-color: #373636;
                        cursor: pointer;
                        border: 1px solid orange;
                        border-radius: 0.2rem;
                        padding: 0.1rem;
                        font-size: 140%;
                    }
                    span {
                        font-size: 140%;
                        margin: 0 0.5rem;
                    }
                }
            }
        }
        .cart-items {
            width: 100%;
            .cart-item-wrapper {
                width: 100%;
                display: block;
                padding: 0.5%;
                border-bottom: 1px solid orange;
                .cart-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 5rem;
                    .item-index {
                        width: 3%;
                        text-align: center;
                        border: 1px solid orange;
                        border-radius: 5rem;
                        background-color: #181a1c;
                    }
                    .item-info {
                        width: 75%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        img {
                            width: 20%;
                            height: 100%;
                            border-radius: 0.5rem;
                            border: 0.2px solid orange;
                        }
                        .item-detail-p {
                            width: 80%;
                            height: 100%;
                            padding: 1%;
                            .item-title {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-shadow: 0 0 5px rgb(88, 68, 68), 0 0 2px rgb(88, 19, 19), 0 0 3px rgb(164, 45, 45),
                                    0 0 5px rgb(150, 33, 33);
                                border-bottom: 1px solid wheat;
                                h3 {
                                    color: wheat;
                                    padding-bottom: 1%;
                                }
                            }
                            .item-description {
                                padding-top: 1%;
                                color: wheat;
                                font-size: 80%;
                                text-align: center;
                            }
                            .item-other {
                                padding-top: 1%;
                                display: flex;
                                align-items: end;
                                justify-content: space-around;
                                .item-rating,
                                .item-discount {
                                    color: #d2b06f;
                                    font-size: 80%;
                                }
                            }
                        }
                    }
                    .item-control {
                        width: 15%;
                        .stock-control,
                        .amount-control {
                            display: flex;
                            color: #d2b06f;
                            align-items: center;
                            justify-content: center;
                            margin: 7%;
                        }
                        .incDec-control {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 150%;
                            button {
                                width: 2rem;
                                height: 2rem;
                                background-color: #181a1c;
                                border-radius: 10rem;
                                font-size: 150%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: none;
                                cursor: pointer;
                                border: 1px solid orange;
                            }
                        }
                    }
                }
            }
        }
    }
    .total-cart {
        width: 29%;
        border: 1px solid orange;
        overflow: hidden;
        border-radius: 0.5rem;
        background-color: rgba(30, 27, 27, 0.6);
        height: -moz-fit-content;
        height: fit-content;
        h2 {
            text-align: center;
            font-size: 130%;
            background-color: #181a1c;
            padding: 0.3rem;
            border-bottom: 1px solid orange;
        }
        .total-price {
            width: 90%;
            font-size: 170%;
            color: wheat;
            text-align: center;
            margin: 4%;
            span {
                font-size: 90%;
            }
        }
        .promo-code {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                background-color: #181a1c;
                width: 70%;
                border: 1px solid orange;
                color: orange;
                border-radius: 2rem;
                padding: 0.4rem;
                text-align: center;
                outline: none;
                font-size: 100%;
            }
        }
        .res-promo {
            text-align: center;
            color: wheat;
            margin-top: 3%;
            span {
                color: wheat;
                background-color: #181a1c;
                border: 1px solid orange;
                border-radius: 0.3rem;
                padding: 1%;
                cursor: pointer;
                font-size: 90%;
            }
        }
        .promo-ex {
            display: block;
            margin: 3% auto;
            text-align: center;
            color: #e38383;
            font-size: 90%;
        }
        button {
            font-size: 100%;
            display: block;
            padding: 2% 0;
            background: #9a3535;
            color: wheat;
            border: 2px solid orange;
            border-radius: 0.3rem;
            cursor: pointer;
            width: 50%;
            margin: 3rem auto 1rem;
        }
    }
}

.appl-codes {
    width: 80%;
    margin: 6% auto;
    border: 1px solid orange;
    border-radius: 0.3rem;
    overflow: hidden;
    h3 {
        text-align: center;
        background-color: #181a1c;
        border-bottom: 1px solid orange;
    }
    .res-promo {
        color: wheat;
        text-align: center;
        border-bottom: 1px solid orange;
        padding: 2%;
    }
}
